<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Navigation</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item>
          <ion-icon slot="start" name="home"></ion-icon>

          <ion-label>Hola</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item>
          <ion-icon slot="start" name="list"></ion-icon>

          <ion-label>Pongame</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item>
          <ion-icon slot="start" name="information-circle"></ion-icon>

          <ion-label>100</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>