.statName{
    width: 6rem;
}
.fakeProgressBar{
    opacity: 0;
}
ion-progress-bar{
    margin: 0px 10px;
}
.statBase{
    width: 3rem;
}
.dosFilas{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dosFilasVerdaderas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 10%;
    
}
*{
    font-family: 'sf-pro-display-regular';
  }
  h1, h2, h3, h4{
    font-family: 'sf-pro-display-bold';
  }
#holabola{
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}