lista-cartas{
  overflow: visible;
  
}

.card-pokemon{
  height: 115px;
  border-radius: 1rem;
  display: flex;
  position: relative;
  overflow: visible;
  contain: none;
  margin-bottom: 30px;
}
.contenidoizquierda{
  display: flex;
  overflow: visible;
  justify-content: center;
}
.contenidoderecha{
  display: flex;
  position: absolute;
  right: 0%;
  --overflow: visible;
}
.listaElementos{
  display: flex;
  gap: 1rem;
}
.listaTipos{
  border-radius: 3px;

}
.spritePokemon2{
  position: absolute;
  right: 0%;
  top: -15px;
  width: 130px;
  height: 130px;
  --overflow: visible;
  z-index: 100;
}
.iconoRaro{
  position: absolute;
  right: 10rem;
  top: 0;
  width: 5rem;
  height: 5rem;
  --overflow: visible;
}
.searchbar{
  background-color: rgb(242,242,242);
  padding: 25px 20.5px;
  width: 100%;
  border-radius: 1rem;
}
.searchbar input[type=text]{
  padding: 20px;
  &::after{
    content: '';
    background-image: './../../assets/icons/search.svg';
  }
}
ion-searchbar{
  --background: rgb(242,242,242);
  color: black;
  border : 0px solid rgb(242,242,242);
  box-shadow: none;
 
}

@media(prefers-color-scheme: light) {
  #pokebolaGigante{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    fill: gray;
    opacity: 0.2;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
      z-index: 10;
  
    }
   
  }
}
@media(prefers-color-scheme: dark) {
  #pokebolaGigante{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    fill: gray;
    opacity: 0.2;
  }
  .listaInicio{
    background : transparent;
    ion-icon{
      fill: white;
    }
  }
}
#pokebolaGigante{
  top: -50%;

}
.pokeboll{
  position: absolute;
  left: -5.2rem;
  width: 115px;
  height: 115px;
  z-index: 0;
}
ion-searchbar{
  position: sticky;
}
//modal sort
.listaSort{
  display: flex;
  flex-direction: column;
  overflow: visible;
  ion-button{
    --background-activated : rgb(234,93,96);
    height: 60px;
    border-radius: 1rem;
    margin: 10px 40px ;
  }
  overflow: visible;
}

//////////////////////MODAL FILTER////////////////////

.listaFiltros{
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: scroll;
}

.itemFilter{
  position: relative;
  overflow: visible;
}

.wrapperBoton{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  width: 3rem;
  height: 3rem;
}
.listaduo{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ion-button{
    flex: 1;
    --background : rgb(234,93,96);
  }
  .boton-reset{
    --background : 'grey'
  }
  
}
.toggleFilter{
  opacity: 0;
  width: 3rem;
}

.noscroll{
  overflow: hidden;
}

.listaInicio{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2rem;
  gap:25px;
  ion-icon{
    width: 20px;
    height: 20px;
    padding-top: 7px;
  }
}
ion-range{
  padding: 1rem;
  --bar-background-active:  rgb(234,93,96);
}
#maincontainer{
  padding: 0px 20px;
}
.botonTramposo{
  --background : rgb(234,93,96);
  color: white;
}
.listaLoca{
  gap: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cartaLoca{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 43%;
  .genI{
    display: flex;
    margin-top: 1rem;
  }
  ion-icon{
    position: absolute;
    opacity: 0.115;
    z-index: -5;
  }
  ion-text{
  margin-bottom: 20px;

  }
}
.iconoPokebola{
  right: -10px;
  bottom: -51px;
  width: 110px;
  height: 110px;

}
.iconoPattern{
  left: 0;
  top: 0;
  width: 80px;
  height: 35px;

}