<ion-modal id="modal-sort" #modal trigger="open-sort">
  <ng-template>
    <ion-content>
     <ion-text>
      <h3>Sort By</h3>
      <p>Use advanced search to explore Pokémon by type, weakness, height and more!</p>
     </ion-text>
     <ion-list class="listaSort">
     <ion-button expand="block" fill="clear" shape="round">
      Smallest number first
     </ion-button>
     <ion-button expand="block" fill="clear" shape="round">
      Highest number first
           </ion-button>
     <ion-button expand="block" fill="clear" shape="round">
      A-Z
     </ion-button>
     <ion-button expand="block" fill="clear" shape="round">
      Z-A
     </ion-button>
     </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>