ion-toolbar {
  --background: aliceblue;
}
ion-back-button {
  z-index: 1000;
}
ion-buttons {
  z-index: 1000;
}
.textoGigante {
  position: absolute;
  top: -2rem;
  font-size: 8rem;
  z-index: 50;
  -webkit-text-stroke: 2px white;
  color: transparent;
  pointer-events: none;
  overflow: hidden;
  height: 200px;
}
.card-container {
  position: relative;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;

  ion-img {
    width: 8rem;
    z-index: 1100;
  }
  div {
    z-index: 51;
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      z-index: 1100;
      z-index: 51;
    }
    div {
      display: flex;
      flex-direction: row;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3px;
        padding: 2px;
        border-radius: 3px;
        ion-icon {
          padding-left: 10px;
        }
      }
    }
  }
}
.camara{
  width: 6rem;
  height: 6rem;
  left: 0;
  position: absolute;
  pointer-events: none;
}
ion-header{
    &::after{
        background-image: none;
    }
}
ion-button{
    --color: rgb(255, 255, 255);
}
.listaCondicional{
  position: sticky;
  top: 0;
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    margin-top: -2px;
    h4{
        font-size: 1rem;
        margin: 0;
    }
    
}
#cartaInferior{
  border-radius: 2rem;

}

.containerPaginas{
  position: relative;
  //select text from ion button
  ion-label {
    z-index: 1000;
  }
  .pokeballIconoPaginas{
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: 0;
    opacity: 0.5;
    
  }
}
app-about{
  overflow-x: hidden;
} 
app-evolution{
  width: clamp(80rem, 100vw - 10rem, 100rem);
}
ion-toolbar{
  padding-bottom: 2px;
}
.pinturaDeFondo{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}
.otroIconoAbsolute{
  position: absolute;
  right: 0;
  bottom: 10px;
  ion-icon{
    width: 4rem;
    height: 4rem;
  }
}