<ion-header *ngIf="pokemon" [translucent]="true"  color="" [ngStyle]="getColorToolbar(pokemon.types[0].type.name)">
  <ion-toolbar *ngIf="pokemon" color="" [ngStyle]="getColorToolbar(pokemon.types[0].type.name)">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true" *ngIf="pokemon">
  <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>
  <div class="card-container" *ngIf="!loading && pokemon" [ngStyle]="getColorFondo(pokemon.types[0].type.name)" >
    <h1 class="textoGigante">{{ pokemon.name.toUpperCase() }}</h1>
    <ion-img [src]="pokemon!.sprites.other?.['official-artwork']?.front_default"></ion-img> 
    <div>
      <h3>#{{pokemon!.id.toString().padStart(3, '0')}}</h3>
      <h3>{{pokemon!.name.slice(0,1).toUpperCase() + pokemon!.name.slice(1)}}</h3>
      <div>
        <div *ngFor="let item of pokemon!.types" [ngStyle]="getColorTipo(item.type.name)" >
          <ion-icon class="iconoTipo" [src]="'./assets/types/'+item.type.name+'.svg'" ></ion-icon>
          <div class="resultadoTipo" [ngStyle]="getColorTipo(item.type.name)" >{{item.type.name}}</div>
        </div>
      </div> 
      
    </div>
  </div>
  
  <ion-list class="listaCondicional" color="" [ngStyle]="getColorFondo(pokemon.types[0].type.name)">
    <div class="containerPaginas"><ion-button (click)="toggle('about')" fill="clear">About</ion-button>
      <ion-icon class="pokeballIconoPaginas" *ngIf="paginaAbout" slot="start" src="../../../assets/patterns/pokeball.svg"></ion-icon>
    </div>
    <div class="containerPaginas"><ion-button (click)="toggle('stats')"fill="clear">Stats</ion-button>
      <ion-icon class="pokeballIconoPaginas" *ngIf="paginaStats" slot="start" src="../../../assets/patterns/pokeball.svg"></ion-icon>

    </div>
    <div class="containerPaginas">
      <ion-button (click)="toggle('evolution')"fill="clear">Evolution</ion-button>
      <ion-icon class="pokeballIconoPaginas" *ngIf="paginaEvoluciones" slot="start" src="../../../assets/patterns/pokeball.svg"></ion-icon>
    </div>
    
    
    
  </ion-list>
  <div [ngStyle]="getColorFondo(pokemon.types[0].type.name)"> 
    <ion-item id="cartaInferior" >
      <ion-item class="componente" *ngIf="paginaAbout">
        <app-about [id]="pokemon.id" *ngIf="especiePokemon" [pokemon] ="pokemon" [especiePokemon]="especiePokemon"></app-about>
      </ion-item>
      <ion-item class="componente" *ngIf="paginaStats">
        <div *ngIf="tiposPokemon">
          <app-stats *ngIf="especiePokemon" [pokemon] ="pokemon" [especiePokemon]="especiePokemon" [tipoPokemon]="tiposPokemon" ></app-stats>
        </div>
      </ion-item>
      <ion-item class="componente" *ngIf="paginaEvoluciones">
        <app-evolution *ngIf="especiePokemon" [especiePokemon]="especiePokemon"></app-evolution>
      </ion-item>
    </ion-item>
  </div>
 
  
</ion-content>
