.listaPerorra{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
*{
    font-family: 'sf-pro-display-regular';
  }
  h1, h2, h3, h4{
    font-family: 'sf-pro-display-bold';
  }