ion-title {
  display: flex;
  justify-content: center;
  align-items: center;
  .logo{
    width: 100px;
    height: 100px;
  }
}


.iconoxd {
  fill: #fff;
}
.subtituloGrande {
  font-size: 18px;
}
.textoGrande {
  font-size: 32px;
}	
ion-button {
  margin: auto;
  flex-basis: 50px;
}
ion-title {
  padding-top: 10px;
  padding-bottom: 10px;
  
}
ion-text {
  p {
    color: #c9c9c9;
    font-family: "gilroy-regular";
  }
  h1 {
    font-family: "gilroy-bold";
  }
}
.iconoqlero{
  content: url('../../../assets/icon/hero.svg');
  background: linear-gradient(0deg, #c3daff 0%, #0062ff 100%);
 
}

ion-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow-x: auto;
  overflow-y: visible;
  background-color: transparent;
  padding-bottom: 16px;

  div {
    -webkit-box-shadow: 0px 3px 15px -3px rgba(255, 255, 255, 0.48);
    -moz-box-shadow: 0px 3px 15px -3px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 3px 15px -3px rgba(0, 0, 0, 0.48);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    ion-icon {
      font-size: 2.5rem;
      color: #fff;
    }
  }
}

ion-list{
  ion-button{
    --width: 3.5rem;
    --border-radius: 50%;
  }
}

.item1 {
  --background: linear-gradient(0deg, #c3daff 0%, #0062ff 100%);
  width: 3rem;
  height: 3rem;
}
.item2 {
  --background: linear-gradient(0deg, #fb8383 0%, #ff0000 100%);
  width: 3rem;
  height: 3rem;

}
.item3 {
  --background: linear-gradient(0deg, #c37eff 0%, #a200ff 100%);
  width: 3rem;
  height: 3rem;

}
.item4 {
  --background: linear-gradient(0deg, #91ffbf 0%, #007540 100%);
  width: 3rem;
  height: 3rem;
}
.item5 {
  --background: linear-gradient(0deg, #ffe4e4 0%, #f9a9a9 100%);
  width: 3rem;
  height: 3rem;

}
svg {
  fill: #0062ff;
}

.tarjeta {
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  min-width: 10rem;
  width: 10rem;
  height: 17rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  ion-icon {
    font-size: 2rem;
  }
  ion-text {
    p {
      font-size: 1.5rem;
    }
  }

  .marvelLogo{
    color: #0062ff;
    fill: #0062ff;
    background-color: #0062ff;
  }
  
}
.listaHeroes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.itemHeroes{
  display: flex;
  flex-direction: column;
  ion-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
}
.bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  ion-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.itemVillanos{
  display: flex;
  flex-direction: column;
  ion-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.itemAliens{
  display: flex;
  flex-direction: column;
  ion-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.itemHumanos{
  display: flex;
  flex-direction: column;
  ion-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.itemAntiheroe{
  display: flex;
  flex-direction: column;
  ion-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
div{
  ion-text{
    h4{
      background: linear-gradient(0deg, #fb8383 0%, #ff3b3b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
