<app-menu></app-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon [src]="'assets/icon/menu.svg'"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        <ion-icon [src]="'../../../assets/icon/marvel.svg'" class="logo"></ion-icon>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="showSearchBox()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-searchbar *ngIf="showSearch" [(ngModel)]="searchTerm" (ionChange)="searchItems()" placeholder="Busca Perssoas" [hidden]="!showSearch" inputmode="text" type="text"></ion-searchbar>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-text>
      <p class="subtituloGrande">
        Ben vindo ao Marvel Heroes
      </p>
      <h1>
        <strong class="textoGrande">
          Escolha o seu personagem
        </strong>
      </h1>
    </ion-text>
    <ion-list class="listaHeroes">
        <ion-card [className]="'tarjeta resultList'" *ngFor="let result of results" (click)="llamar(result)">
          <app-tarjeta-heroe [heroe]=result></app-tarjeta-heroe>          
        </ion-card>    
    </ion-list>
    <ion-list>
      <ion-button class="item1" (click)="filtrar('heroe')">
        <ion-icon [src]="'../../../assets/icon/hero.svg'"></ion-icon>
      </ion-button>

      <ion-button class="item2" (click)="filtrar('villano')">
        <ion-icon [src]="'../../../assets/icon/villain.svg'"></ion-icon>
      </ion-button>

      <ion-button class="item3" (click)="filtrar('antiheroe')">
        <ion-icon [src]="'../../../assets/icon/antihero.svg'"></ion-icon>
      </ion-button>

      <ion-button class="item4" (click)="filtrar('alien')">
        <ion-icon [src]="'../../../assets/icon/alien.svg'"></ion-icon>
      </ion-button>
      <ion-button class="item5" (click)="filtrar('humano')">
        <ion-icon [src]="'../../../assets/icon/human.svg'"></ion-icon>
      </ion-button>
    </ion-list>

    <div [className]="'itemHeroes'">
      <ion-text color="danger">
        <h4>Heroís</h4>
        <p (click)="filtrar('todo')">Ver tudo</p>
      </ion-text>
      <ion-list [className]="'listaHeroes'">
        <ion-card [className]="'tarjeta d-block'" *ngFor="let heroe of heroes" (click)="llamar(heroe)">
          <app-tarjeta-heroe [heroe]=heroe></app-tarjeta-heroe>          
        </ion-card>
      </ion-list>
    </div>
    <div [className]="'itemVillanos'">
      <ion-text color="danger">
        <h4>Vilóes</h4>
        <p (click)="filtrar('todo')">Ver tudo</p>
      </ion-text>
      <ion-list [className]="'listaHeroes'">
        <ion-card [className]="'tarjeta d-block'" *ngFor="let heroe of viloes" (click)="llamar(heroe)">
          <app-tarjeta-heroe [heroe]=heroe></app-tarjeta-heroe>          
        </ion-card>
      </ion-list>
    </div>
    <div [className]="'itemAntiheroe'">
      <ion-text color="danger">
        <h4>Antiherois</h4>
        <p (click)="filtrar('todo')">Ver tudo</p>
      </ion-text>
      <ion-list [className]="'listaHeroes'">
        <ion-card [className]="'tarjeta d-block'" *ngFor="let heroe of antiheroes" (click)="llamar(heroe)">
          <app-tarjeta-heroe [heroe]=heroe></app-tarjeta-heroe>          
        </ion-card>
      </ion-list>
    </div>
    <div [className]="'itemAliens'">
      <ion-text color="danger">
        <h4>Aliens</h4>
        <p (click)="filtrar('todo')">Ver tudo</p>
      </ion-text>
      <ion-list [className]="'listaHeroes'">
        <ion-card [className]="'tarjeta d-block'" *ngFor="let heroe of aliens" (click)="llamar(heroe)">
          <app-tarjeta-heroe [heroe]=heroe></app-tarjeta-heroe>          
        </ion-card>
      </ion-list>
    </div>
    <div [className]="'itemHumanos'">
      <ion-text color="danger">
        <h4>Humans</h4>
        <p (click)="filtrar('todo')">Ver tudo</p>
      </ion-text>
      <ion-list [className]="'listaHeroes'">
        <ion-card [className]="'tarjeta d-block'" *ngFor="let heroe of humanos" (click)="llamar(heroe)">
          <app-tarjeta-heroe [heroe]=heroe></app-tarjeta-heroe>          
        </ion-card>
      </ion-list>
    </div>
  </ion-content>
</div>
