<ion-spinner name="circles" *ngIf="!especiePokemon"></ion-spinner>
<ion-card  *ngIf="especiePokemon">
    <ion-text class="text-centered">
      <p>{{especiePokemon.flavor_text_entries[numeroDeEntradasDeDescripcion].flavor_text}}</p>
    </ion-text>
    <ion-text>
      <h3>Pokedex data</h3>
    </ion-text>
    <ion-list>
      <ion-item>
        <ion-label>Species</ion-label>
        <ion-label>{{especiePokemon.genera[numeroDeEntradasDeGenero].genus}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Height</ion-label>
        <ion-label>{{pokemon.height}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-label>{{pokemon.weight}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Abilities</ion-label>
        <ion-list>
          <ion-item *ngFor="let item of pokemon.abilities">
            <ion-label class="normabAbility" *ngIf="!item.is_hidden">{{item.ability.name}}</ion-label>
            <ion-label class="hiddenAbility" *ngIf="item.is_hidden">{{item.ability.name}} (Habilidad Oculta)</ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item *ngIf="relacionesDeDmg">
        <ion-label>Weaknesses</ion-label>
        <ion-list>
          <ion-item class="tipoPokemon" *ngFor="let item of relacionesDeDmg">
            <ion-icon [src]="'../../../../assets/types/'+item+'.svg'" > </ion-icon>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
    <ion-text>
      <h3>Training</h3>
    </ion-text>
    <ion-list>
      <ion-item>
        <ion-label>EV Yield</ion-label>
        <ion-list>
          <ion-item *ngFor="let item of EV_YIELD">
            <ion-label>{{item}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-label>Catch Rate</ion-label>
        <ion-item>
          <ion-label>{{especiePokemon.capture_rate}}
          </ion-label>
          <ion-label class="insights">(5.9% with pokeball, full HP.)</ion-label>

        </ion-item>
      </ion-item>
      <ion-item>
        <ion-label>Base Friendship</ion-label>
        <ion-item>
          <ion-label>{{especiePokemon.base_happiness}}
          </ion-label>
          <ion-label>(Normal)</ion-label>

        </ion-item>
      </ion-item>
      <ion-item>
        <ion-label>Base Exp</ion-label>
        <ion-item>
          <ion-label>{{pokemon.base_experience}}</ion-label>
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-label>Growth Rate</ion-label>
        <ion-item>
          <ion-label>{{especiePokemon.growth_rate.name}}</ion-label>
        </ion-item>
      </ion-item>
    </ion-list>
    <ion-text>
      <h3>Breeding</h3>
      <ion-list>
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-item >
            <ion-label *ngFor="let item of GENDER_DIST">        
              <ion-icon name="female-outline" *ngIf="item=='male'"></ion-icon>
              <ion-icon name="female-outline" *ngIf="item=='female'"></ion-icon>
              <ion-label *ngIf="item!='male' && item!='female'">
                {{item}}
              </ion-label>
            </ion-label>
          </ion-item>
        </ion-item>
        <ion-item>
          <ion-label>Egg Groups</ion-label>
          <ion-item>
            <ion-label *ngFor="let item of especiePokemon.egg_groups">{{item.name}}</ion-label>
          </ion-item>
        </ion-item>
        <ion-item>
          <ion-label>Egg Cycles</ion-label>
          <ion-label>{{especiePokemon.hatch_counter}} <ion-label class="insights">(hasta{{numeroDePasosNecesarios}} pasos necesarios)</ion-label></ion-label>
        </ion-item>
      </ion-list>
    </ion-text>
    <ion-text>
      <h3>Location</h3>
      <ion-list>
        <ion-item>
          Lo sentimos, la api no tiene preparada esta opcion.
        </ion-item>
      </ion-list>
    </ion-text>

</ion-card>