<ion-spinner name="circles" *ngIf="!especiePokemon"></ion-spinner>
  <ion-text class="text-centered">
    <p>
      {{
        especiePokemon.flavor_text_entries[numeroDeEntradasDeDescripcion]
          .flavor_text
      }}
    </p>
  </ion-text>
  <ion-text [ngStyle]="getColorTipo()">
    <h3 class="subtitulo">Pokedex data</h3>
  </ion-text>
  <ion-list class="superLista">
    <ion-item>
      <ion-text class="labelIzquierdo">Species</ion-text>
      <ion-list>
        <ion-text class="labelDerecho">{{
          especiePokemon.genera[numeroDeEntradasDeGenero].genus}}</ion-text>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-text class="labelIzquierdo">Height</ion-text>
      <ion-list>
        <ion-text class="labelDerecho">{{ pokemon.height }}</ion-text>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-text class="labelIzquierdo">Weight</ion-text>
      <ion-list>
        <ion-text class="labelDerecho">{{ pokemon.weight }}</ion-text>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-text class="labelIzquierdo">Abilities</ion-text>
      <ion-list class="labelDerecho">
        <ion-item *ngFor="let item of pokemon.abilities">
          <ion-text class="normabAbility" *ngIf="!item.is_hidden">{{
            item.ability.name
          }}</ion-text>
          <ion-text class="hiddenAbility" *ngIf="item.is_hidden"
            >{{ item.ability.name }} (Habilidad Oculta)</ion-text>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item *ngIf="relacionesDeDmg">
      <ion-text class="labelIzquierdo">Weaknesses</ion-text>
      <ion-list class="weaknesses">
        <div
          class="tipoPokemon"
          *ngFor="let item of relacionesDeDmg"
          [ngStyle]="getColorTipoFondo(item)"
        >
          <ion-icon [src]="'assets/types/' + item + '.svg'"> </ion-icon>
      </div>
      </ion-list>
    </ion-item>
  </ion-list>
  <ion-text [ngStyle]="getColorTipo()">
    <h3 class="subtitulo">Training</h3>
  </ion-text>
  <ion-list class="superLista">
    <ion-item>
      <ion-text class="labelIzquierdo">EV Yield</ion-text>
      <ion-list>
        <ion-item *ngFor="let item of EV_YIELD">
          <ion-text>{{ item }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item class="superContainer">
      <ion-text class="contenedor labelIzquierdo">Catch Rate</ion-text>
      <ion-item class="nosepass">
        <ion-text>{{ especiePokemon.capture_rate }} </ion-text>(5.9% with pokeball, full HP.)</ion-item>
    </ion-item>
    <ion-item>
      <ion-text class="labelIzquierdo">Base Friendship</ion-text>
      <ion-item class="nosepass">
        <ion-text>{{ especiePokemon.base_happiness }} </ion-text>({{base_happiness}})
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-text class="labelIzquierdo">Base Exp</ion-text>
      <ion-item>
        <ion-text>{{ pokemon.base_experience }}</ion-text>
      </ion-item>
    </ion-item>
    <ion-item>
      <ion-text class="labelIzquierdo">Growth Rate</ion-text>
      <ion-item>
        <ion-text>{{ especiePokemon.growth_rate.name }}</ion-text>
      </ion-item>
    </ion-item>
  </ion-list>
  <ion-text [ngStyle]="getColorTipo()">
    <h3 class="subtitulo">Breeding</h3>
  </ion-text>
    <ion-list class="superLista">
      <ion-item>
        <ion-text class="labelIzquierdo">Gender</ion-text>
        <ion-item class="gender">
          <ion-text *ngFor="let item of GENDER_DIST">
            <ion-icon name="female-outline" *ngIf="item == 'male'"></ion-icon>
            <ion-icon name="female-outline" *ngIf="item == 'female'"></ion-icon>
            <div *ngIf="item != 'male' && item != 'female'">
              {{ item }}
            </div>
          </ion-text>
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-text class="labelIzquierdo">Egg Groups</ion-text>
        <ion-list  class="listagap">
          <ion-item *ngFor="let item of especiePokemon.egg_groups">
            <ion-text >{{item.name}}</ion-text>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-text class="labelIzquierdo">Egg Cycles</ion-text>
        <ion-item class="nosepass">
          <ion-text>{{ especiePokemon.hatch_counter }}
          </ion-text>
          (hasta {{ numeroDePasosNecesarios }} pasos necesarios)</ion-item>
    
      </ion-item>
    </ion-list>
  <ion-text [ngStyle]="getColorTipo()">
    <h3 class="subtitulo">Location</h3>
    <ion-list>
      <ion-item> Lo sentimos, la api no tiene preparada esta opcion. </ion-item>
    </ion-list>
  </ion-text>
